<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body>
<div class="con_Top">
    <div class="con_Login">
        <a href="#">登录</a>
    </div>
</div>
<div class="con_Banner">
    <div class="con_Logo">
        <!--<img class="logo" src="/images/logo.png" />-->
        <div class="con_search">
            <div class="input_Search">
                <input/>
            </div>
            <div class="button_Search">搜索</div>
        </div>
    </div>
</div>
<div class="con_Navigator"></div>
<div class="con_Content">
    <div class="con_Category">
        <div>
            <div class="cate_Title">
                所有商品类别
            </div>
            <div class="cate_content">
                全部 生活 衣服
            </div>
        </div>
    </div>
    <div class="con_Products">
        <div class="con_Recommend"></div>
        <div class="con_Pro_List">
            <ul>
                <li>
                    <div class="product"></div>
                </li>
                <li>
                    <div class="product"></div>
                </li>
                <li>
                    <div class="product"></div>
                </li> <li>
                    <div class="product"></div>
                </li> <li>
                    <div class="product"></div>
                </li> <li>
                    <div class="product"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="con_Foot">
    微商平台版权所有 ©1997-2014
</div>
</body>
</html>
